* {
    margin: 0;
    padding: 0;
    color: rgb(46, 38, 38);
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    color: var(--white);
}

:root {
    --danger: rgb(255, 0, 149);
    --secondary: #7c8db5;
    --indigo: #347ae2;
    --primary: rgb(255, 0, 149);
    --success: #34c759;
    --warning: #ff9500;
    --black: #000000;
    --white: #ffffff;
    --gray: #bababa;
    --border: #e6edff;
    --card-shadow: 0px 4px 25px #0000001a;
}

/* Sidebar */

.sidebar-wrap {
    display: flex;
    width: 100%;
}

.sidebar {
    position: relative;
}

.sidebar .bg-shadow {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 799;
    background: var(--black);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

.sidebar-inner {
    width: 289px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 800;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    box-shadow: var(--card-shadow);
    transition: all 0.4s ease;
}

.main-container {
    padding-left: 289px;
    width: 100%;
    transition: all 0.4s ease;
}

.sidenav-logo {
    padding: 20px 8px;
    display: block;
    text-align: center;
}

.sidenav-logo img {
    width: auto;
    max-height: 131px;
}

.sidenav-menu {
    overflow-y: auto;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0 30px 40px;
    margin-bottom: 0;
}

.menu-item {
    padding: 10px 0;
}

.menu-link {
    display: flex;
    gap: 12px;
    padding: 5px 5px;
}

.menu-link svg {
    width: 24px;
    height: 24px;
}

.menu-link svg path {
    fill: var(--secondary);
    transition: all 0.4s ease;
}

.menu-link.logout svg path {
    fill: var(#ff3b30);
}

.menu-link:hover svg path,
.menu-link.active svg path,
.menu-link[aria-expanded="true"] svg path {
    fill: var(--primary);
}

.menu-link .headline {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--secondary);
    transition: all 0.4s ease;
}

.menu-link.logout .headline {
    color: var(#ff3b30);
}

.menu-link:hover .headline,
.menu-link.active .headline,
.menu-link[aria-expanded="true"] .headline {
    color: var(--primary);
}

.dropdown-indicator > .menu-link::after,
.dropdown-indicator .dropdown-toggle::after,
.dropdown-indicator > .menu-link[aria-expanded="true"]::after {
    content: "";
    background-image: url(../images/icon/chevron-down.svg);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    transform: rotate(-180deg);
    transition: all 0.2s ease;
}

.dropdown-indicator > .menu-link:hover::after,
.dropdown-indicator > .menu-link.active::after,
.dropdown-indicator > .menu-link[aria-expanded="true"]::after {
    background-image: url(../images/icon/red-chevron-down.svg);
}

.dropdown-indicator > .menu-link[aria-expanded="false"]::after,
.dropdown-indicator .dropdown-toggle[aria-expanded="false"]::after {
    transform: none;
}

.sidenav-submenu {
    list-style: none;
    padding-left: 36px;
}

.sidenav-submenu .menu-item {
    padding: 0;
}

.sidenav-submenu .headline {
    font-size: 14px;
}

.sidebar-toggle {
    padding: 2px 4px;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
    border: 0;
}

.sidebar-toggle i {
    font-size: 20px;
    height: fit-content;
}

/* Dashboard content */

.dashboard-content {
    padding: 45px 30px;
}

/* Dashboard Header */

.dashboard-header {
    margin-bottom: 67px;
}

.dashboard-header .page-title .large-title {
    color: var(--black);
}

.dashboard-header .page-title .body {
    color: var(--secondary);
}

.dashboard-header .header-elements {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 32px;
}

.dashboard-header .seacrh-btn {
    padding: 0;
    border: 0;
}

.dashboard-header .seacrh-btn svg {
    width: 24px;
    height: 24px;
}

.dashboard-header .seacrh-btn svg path {
    fill: var(--black);
}

.dashboard-header .profile {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dashboard-header .profile img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 4px;
}

.dashboard-header .profile .body {
    color: var(--black);
}

/* Report card */

.report-card {
    padding: 0;
    border: 0;
    border-radius: 0;
    box-shadow: none !important;
    flex: 1;
    transition: all 0.2s linear;
}

.report-card:hover {
    transform: scale(1.04);
}

.report-card .large-title {
    font-weight: 600;
    color: var(--black);
}

.report-card .body {
    color: var(--black);
}

.report-card .icon {
    padding: 10px;
    box-shadow: 0px 2px 10px 0px #7c8db51f;
    border-radius: 12px;
}

.report-card .icon svg path {
    fill: var(--primary);
}

.report-text {
    display: flex;
    align-items: center;
    gap: 12px;
}

.report-text .amount {
    display: flex;
    gap: 8px;
}

.report-text .amount.up svg path {
    fill: var(--success);
}

.report-text .amount.down svg path {
    fill: var(--danger);
}

.report-text .footnote {
    color: var(--secondary);
}

/* Monthly table */

.monthly-table {
    border-color: var(--border);
}

.monthly-table td,
.monthly-table th {
    padding: 20px 5px;
}

.monthly-table td p,
.monthly-table th p {
    font-weight: 400;
    font-size: 15px;
    color: var(--black);
}

.monthly-table td h6,
.monthly-table th h6 {
    font-weight: 700;
    font-size: 17px;
    color: var(--black);
}

.monthly-table tr:last-child td {
    border-bottom: 0;
}

/* Table */

.table-design th,
.table-design td {
    vertical-align: middle;
    padding: 21px 10px;
    font-size: 12px;
    line-height: 150%;
    color: var(--black);
    border: 0;
    white-space: nowrap;
}

.table-design td {
    padding: 12px 10px;
}

.table-design th {
    font-weight: 500;
    white-space: nowrap;
}

.table-design .row:not(:first-child, :last-child) .col-sm-12 {
    overflow-x: auto;
    margin-bottom: 1rem;
}

.table-design .table {
    margin-bottom: 0.25rem;
}

.table-design.custom-table {
    overflow-x: auto;
    margin-bottom: 1rem;
}

.dataTables_length label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    font-size: 12px;
    color: var(--black);
}

.dataTables_length label select {
    font-size: 12px;
    color: var(--black);
    width: fit-content;
    padding-right: 25px;
    vertical-align: middle;
    background: #fff
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
        no-repeat right 0.75rem center/8px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.dataTables_filter label {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
    margin-bottom: 16px;
    font-size: 12px;
    color: var(--black);
}

.dataTables_filter label input {
    width: fit-content;
}

.dataTables_info {
    font-size: 12px;
    color: var(--black);
    margin-bottom: 16px;
}

.dataTables_paginate .pagination {
    justify-content: end;
}

.page-link {
    font-size: 12px;
    color: var(--black);
}

.page-item.active .page-link {
    background-color: var(--primary);
    border-color: var(--primary);
}

.table-design .small-text {
    font-size: 10px;
}

.table-design .discription-text-brack {
    white-space: unset;
    width: 265px;
    min-width: 265px;
}

.table-design .body-text-brack {
    white-space: unset;
    width: 447px;
    min-width: 447px;
}

/* Chart CSS */

.analytics-chart .apexcharts-xaxistooltip {
    display: none;
}

.analytics-chart .apexcharts-text tspan {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    line-height: 150%;
    fill: var(--secondary);
}

.sm-chart .apexcharts-text tspan {
    font-size: 13px;
}

/* Chapter card */

.chapter-card .card-body {
    padding: 20px;
}

.aastha-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aastha-logo img {
    max-width: 61px;
    width: 100%;
    object-fit: contain;
}

.aastha-logo h5 {
    font-weight: 500;
    font-size: 11px;
    line-height: 131%;
    letter-spacing: 0.355em;
    color: var(--secondary);
}

.chapter-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: var(--black);
}

.chapter-card .icon {
    width: 43px;
    height: 43px;
    padding: 10px;
    display: inline-block;
    box-shadow: 0px 2px 10px 0px #7c8db51f;
    border-radius: 12px;
    border: 0;
    background-color: #ffffff;
}

.chapter-card .icon svg path {
    fill: var(--primary);
}

/* Member table */

.members-tools-button {
    display: flex;
    align-items: center;
}

.members-tools-button .icon {
    padding: 5px 9px;
    display: inline-block;
    box-shadow: 0px 2px 10px 0px #7c8db51f;
    border-radius: 12px;
    border: 0;
    background-color: #ffffff;
}

.members-tools-button .icon.text-button {
    width: auto;
    height: auto;
}

.view-more {
    border: 0;
}

.view-more svg {
    width: 28px !important;
    height: 28px !important;
}

/* Gold club */

.parameters-modal .modal-dialog {
    max-width: 394px;
}

.user-data {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.user-data p.caption-medium {
    color: var(--secondary);
}

.created-icon {
    width: 39px;
    height: 39px;
    object-fit: contain;
}

/* Preview */
.preview-wrap {
    padding: 20px;
    background-color: #ece5dd;
    background-image: url(../images/wp-chat-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.preview-card {
    border-radius: 5px !important;
    margin-bottom: 6px;
    max-width: 400px;
}

.preview-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 15px;
    height: 10px;
    background-color: var(--white);
    clip-path: polygon(1% 1%, 99% 1%, 100% 120%);
}

.preview-card .card-header {
    padding: 6px;
    border: 0;
    background-color: var(--white);
}

.preview-card .card-header img {
    border-radius: 3px;
}

.preview-card .card-body {
    padding: 0 12px;
}

.preview-card .card-body .title-1 {
    font-size: 16px;
    margin-bottom: 8px;
}

.preview-card .card-body .body {
    font-size: 14px;
    margin-bottom: 16px;
}

.preview-card .card-footer {
    background-color: var(--white);
    border: 0;
    padding: 0 12px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap;
    color: var(--secondary);
}

.preview-wrap .card-button {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
    max-width: 400px;
}

.preview-wrap .card-button .btn {
    flex-grow: 1;
    flex-basis: 50px;
    justify-content: center;
    border-radius: 5px;
}

/* Massage Chat */

.message-sidebar {
    background: #ffffff;
    box-shadow: 0px 2px 10px rgba(124, 141, 181, 0.12) !important;
    border-radius: 10px;
    height: 100%;
    padding: 15px 0;
    max-height: 791px;
    overflow-y: auto;
}

.message-profile {
    padding: 15px 30px;
    border-bottom: 1px solid var(--border);
    transition: all 0.2s;
    cursor: pointer;
}

.message-profile:hover,
.message-profile.active {
    background-color: #0000000f;
}

.message-profile .headline {
    font-size: 17px;
    color: var(--black);
}

.message-profile .footnote {
    font-weight: 500;
    color: var(--secondary);
}

.message-wrapper {
    padding: 30px;
    background-color: #ededed;
    box-shadow: 0px 2px 10px rgba(124, 141, 181, 0.12);
    border-radius: 10px;
}

.message-scroll {
    height: 668px;
    overflow-y: auto;
    margin-bottom: 18px;
}

.message-inner {
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.message-sender {
    display: flex;
    align-items: center;
    gap: 8px;
}

.message-sender input {
    padding: 12px 20px;
}

.message-sender .btn {
    padding-top: 12px;
    padding-bottom: 12px;
}

.msg-box {
    padding: 10px 16px;
    border-radius: 12px !important;
    filter: drop-shadow(0px 2px 10px 0px #7c8db51f);
    box-shadow: none !important;
    width: fit-content;
    margin-bottom: 12px;
    max-width: 400px;
}

.msg-box.align-left {
    margin-right: auto;
}

.msg-box.align-right {
    margin-left: auto;
}

.msg-box .footnote {
    color: var(--black);
    margin-bottom: 8px;
    display: inline-block;
}

.msg-box .caption-medium {
    color: var(--secondary);
}

.msg-box .footer-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.msg-box .footer-card i {
    color: var(--secondary);
    font-size: 12px;
}

.msg-box .footer-card i.active {
    color: var(--indigo);
}

/* Package Card */

.card.package-card {
    box-shadow: none;
    border: 1px solid #ddd;
    border-radius: 14px;
}

.package-text {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
}

.package-card .modal-title {
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
}

.package-radio {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.package-wrap {
    position: relative;
}

.package-wrap .package-radio:checked ~ .package-card {
    border-color: #d12031;
    background-color: #fff7f8;
}

#loader_new {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255) no-repeat center center;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error {
    color: red;
}

lottie-player.user-modal-hello {
    height: 120px;
}

/* Sub Nav */
.subnav {
    padding: 16px 0;
    background: var(--primary);
}

.subnav-links {
    display: flex;
    align-items: center;
    gap: 43px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.subnav-links a {
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
}

.main-nav .navbar-brand,
.main-nav {
    padding: 0;
}

.main-nav a.nav-link {
    color: var(--black) !important;
    padding: 0 5px !important;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
}

.main-nav a.nav-link:hover {
    color: var(--primary) !important;
}

.main-nav .nav-item:not(:last-child) a.nav-link::after {
    content: " | ";
    padding-left: 5px;
    color: var(--black) !important;
}

.main-nav .navbar-brand {
    max-width: 200px;
}

.main-nav .navbar-brand img {
    width: 100%;
}

.main-nav .navbar-toggler {
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
}

.main-nav .btn-close {
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
}

.main-nav .offcanvas.offcanvas-end {
    width: 300px;
}

.hero-slider .swiper-slide {
    position: relative;
}

.hero-slider img {
    height: 608px;
    width: 100%;
    object-fit: cover;
}

.hero-slider .swiper-pagination-bullet {
    width: 60px;
    height: 6px;
    border-radius: 0;
    background-color: var(--white);
    border: 1px solid var(--white);
    opacity: 1;
    transform: unset !important;
}

.hero-slider .swiper-pagination-bullet-active {
    background-color: var(--primary);
}

.hero-slider .swiper-horizontal > .swiper-pagination-bullets,
.hero-slider .swiper-pagination-bullets.swiper-pagination-horizontal,
.hero-slider .swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 60px;
}

.hero-slider .slider-contant {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50px;
    margin: auto;
    height: fit-content;
}

.hero-slider .slider-contant h1 {
    font-size: 51px;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 50px;
    max-width: 875px;
}

.hero-slider .slider-contant .btn {
    border-radius: 30px;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 2.31px;
    padding: 7px 35px;
}

.networking-section {
    padding: 70px 0 40px;
}

.networking-section .fs-35-bold {
    max-width: 479px;
    margin-bottom: 38px;
    margin-top: 21px;
}

.organization-section {
    align-items: center;
}

.organization-section .fs-15 {
    max-width: 491px;
}

.organization-card {
    background-color: #fbfbfb;
    min-height: 161px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-sm-6:nth-child(3n-2) .organization-card {
    background-color: #f4f4f4;
}

.organization-card h1 {
    color: var(--primary);
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
}

.organization-card p {
    color: #727272;
    max-width: 233px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.contact-section {
    background: var(--primary);
    padding: 75px 0 85px;
}

.contact-section .btn {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    color: var(--primary);
    background: var(--white);
    min-height: 77px;
    min-width: 279px;
    height: fit-content;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section h2,
.contact-section p {
    color: var(--white);
    max-width: 758px;
}

.benefit-card {
    margin-bottom: 50px;
}

.benefit-card .bg-red-md {
    margin: 0 0 50px;
}

.benefit-card .fs-22-bold {
    margin-bottom: 32px;
}

.benefit-card p {
    max-width: 370px;
}

.benefit-card img {
    max-width: 299px;
    width: 100%;
}

.success-section {
    padding: 39px 0 111px;
}

.success-section h2.fs-35-bold {
    max-width: 259px;
    margin-bottom: 28px;
}

.success-section h6.fs-15 {
    max-width: 271px;
    margin-bottom: 30px;
    font-size: 18px;
}

.success-card img {
    max-width: 223px;
    width: 100%;
}

.success-card h4 {
    font-size: 27px;
    margin: 18px 0 13px;
}

.success-card p {
    font-size: 18px;
    margin-bottom: 30px;
    max-width: 238px;
}

.more-section {
    padding-bottom: 114px;
}

footer {
    padding: 56px 0 62px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 34px;
    margin-bottom: 62px;
}

.social-links img {
    max-width: 58px;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 23px;
}

.footer-links a {
    color: #727272;
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
}

.footer-links a:hover {
    color: var(--primary);
}

.footer-links a:not(:last-child)::after {
    content: " | ";
    padding-left: 23px;
    color: #727272 !important;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 696px;
    column-gap: 22px;
    row-gap: 27px;
    margin: 27px auto 159px;
}

.btn.large-btn {
    font-size: 23px;
    font-weight: 700;
    line-height: normal;
    color: var(--white);
    width: 337px;
    border-radius: 50px;
    height: 105px;
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary);
    text-wrap: wrap;
}

.btn.large-btn:hover {
    background: var(--white);
    color: var(--primary);
}

/* parsley */

.parsley-error {
    border-color: #f46a6a;
}

.parsley-errors-list {
    display: none;
    margin: 0;
    padding: 0;
}

.parsley-errors-list.filled {
    display: block;
}

.parsley-errors-list > li {
    font-size: 12px;
    list-style: none;
    color: #f46a6a;
    margin-top: 5px;
}

.sel2 .parsley-errors-list.filled {
    margin-top: 42px;
    margin-bottom: -60px;
}

.sel2 .parsley-errors-list:not(.filled) {
    display: none;
}

.sel2 .parsley-errors-list.filled + span.select2 {
    margin-bottom: 30px;
}

.sel2
    .parsley-errors-list.filled
    + span.select2
    span.select2-selection--single {
    background: #faedec !important;
    border: 1px solid #e85445;
}