.nsm7Bb-HzV7m-LgbsSe {
    width: 100% !important;
    background-color: black !important;
    margin-top: 13px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    color: white !important;
    font-size: 18px !important;
    font-family: Poppins !important;
    font-weight: 600 !important;
    height: 43px !important;
    border-radius: 8px !important;
}